.btnNav{
  margin: 10px;
}

.btnNav:hover{
    opacity: 0.8;
    transform: scale(1.02);
    cursor: pointer;
}

.containerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconProduct{
    cursor: pointer;
    width: 15px;
}