body {
  background-image: url(https://media.discordapp.net/attachments/725186419848380490/727209328330801162/Group_317.png?width=473&height=500);
  background-repeat: no-repeat;
  background-size: cover;
}
